<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= javascript_include_tag "jquery"%>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application"%>
    <%= javascript_include_tag "articles"%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :template => 'navigation' %>
    <div id="container-fluid">
      <%= yield %>
    </div>
    <div>
        <p class="flash"><%= flash[:message] %></p>
    </div>
  </body>
</html>
