<div class="status_bar"></div>
<% if @showMonthPicker %>
  <div class="monthPicker">
    <select name="" id="scroller" style="display:none">
        <option value="0">All Articles</option>
        <option value="1">January</option>
        <option value="2">Februrary</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
  </div>
<% end %>
<div id='navigation' class='navbar navbar-fixed-top navbar-inner topbar'>
  <ul class='nav'>
    <li class="nav-header">Blogging to the Max!</li>
    <li><%= link_to 'Articles', articles_path %></li>
    <li><%= link_to 'Tags', tags_path %></li>
    <li class="nav-header">|</li>
    <li><%= link_to 'Authors', authors_path %></li>'
    <li class="nav-header">|</li>
    <li class="divider"></li>
    <% if !logged_in? %>
      <li class="create_author"><%= link_to 'Create Account', :controller => "authors", :action => "new" %></li>
    <% end %>
    <li>
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </li>
  </ul>
</div>

