<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @author.username %>
</p>

<p>
  <b>Email:</b>
  <%= @author.email %>
</p>

<p>
  <b>Availability:</b>
  <br />
  <% @author.availability.each do |availableRange| %>
    <%= "#{availableRange.start_date} - #{availableRange.end_date}" %>
    <br />
  <% end %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
